<p id="notice"><%= notice %></p>

<h1>Pages</h1>

<%= form_with(method: :get, data: { controller: 'search'}) do |f| %>
  <%= text_field_tag :q, params[:q], placeholder: 'Search', autofocus: true, data: { target: 'search.input', action: "input->search#submit" } %>
  <%= f.submit %>
<% end %>

<div id="results">
  <%= render 'results' %>
</div>
<br>

<%= link_to 'New Page', new_page_path %>
